body {
	background-color: #ffffff;

}

#background {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.titletext {
	font-family: Roboto Mono;
	font-weight: 400;
	margin-left: 30px;
	margin: 0px;
}

.titletext_kr {
	font-family: Noto Sans KR;
	font-weight: 700;
	font-size: 120px;
	margin: 0px;
}

.instructions {
	font-family: Roboto Mono;
	font-weight: 400;
	font-size: 30px;
	color: #cccccc;
	margin-top: 50px;

}

#screen {
	position: relative;
	display: none;
	background-color: #000000;
	width: 1020px;
	height: 700px;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

#white_box {
	position: relative;
	display: flex;
	background-color: #efefef;
	width: 1020px;
	height: 350px;
	align-items: center;
}

#dialogue {
	font-family: Noto Sans KR;
	font-weight: 700;
	margin-left: 30px;
	font-size: 70px;
}

#splash {
	position: relative;
	display: none;
	flex-direction: column;
	margin-left: 200px;
	top: 50%;
	transform: translateY(-50%);

}

#next {
	background-image: url("busan_images/arrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: none;
	position: absolute;
	bottom: 10%;
}

#next:hover {
	opacity: 0.4;
}










