@font-face { 
	font-family: 'Guitar'; 
	src: url('fonts/Guitar.ttf');
	src: url('fonts/Guitar.ttf') format('truetype'), url('fonts/Guitar.svg') format('svg'), url('fonts/Guitar.woff') format('woff');
	font-weight: normal;
    font-style: normal;
} 

body {
	background-color: #f7f7f7;
}

p {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4;
}

b {
	font-weight: 500;
}

input {
	font-family: 'Guitar';
	display: flex;
    font-size: 70px;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 20px;
    color: black;
	height: 100px;
	width: 100%;
	padding: 0;
}



#text_animation {
	margin-top: 20px;
	height: 100px;
	font-family: 'Guitar';
    font-size: 70px;
    text-align: center;
    align-items: center;
    display: none;
}

.title {
	display: block;
 	margin: 100px auto 50px auto;
 	width: 350px;
}

.description_container {
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.description {
	white-space: pre-wrap;
	width: 600px;
	margin-right: 80px;
}

.input_container {
	width: 1000px;
	display: flex;
	margin: 30px auto 50px auto;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
}

.play_button {
	display: flex;
	background-image: url('guitar_images/assets/play.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	margin-top: 50px;
	cursor: pointer;
}

.strums_container {
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	flex-wrap: wrap;
}

.letter {
	width: 180px;
	cursor: pointer;
	margin: 30px;

}

.footer {
	width: 100%;
	height: 200px;
}
